doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title send
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    body 
        header 
            h1 Send_Message
        main 
            form(action="/send/data", method="post", enctype="multipart-form-data")
                input(type="text", name="text", id="text", placeholder="text")
                input(type="text", name="num", id="nickname", placeholder="phone_number") 
                button Send